{% extends 'base.html' %}
{% block content %}
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay mt-5" style="background-image:url('/static/img/uin.png'); background-size: contain ;">
    <div id="pageintro" class="hoc clear">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">Selamat Datang</h3>
            <p>Ini adalah website pengajuan proposal se-Fakultas Sains Dan Teknologi Universitas Islam Negeri Sultan
                Syarif Kasim Riau. Silahkan serahkan proposal anda pada form yang telah di sediakan dan tunggu info
                selanjutnya
                yang akan di kirim ke email si pemohon.
            </p>
            <div class="mt-5">
                <a class="btn btn-dark" href="{% url 'login1' %}">Mulai Sebagai Kaprodi</a>
                <a class="btn btn-dark  " href="{% url 'login1' %}">Mulai Sebagai W.Dekan3</a>
            </div>
            <footer>
                <a class="btn btn-primary" href="#pengajuan">Mulai Pengajuan</a>
            </footer>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="sectiontitle">
            <h6 class="heading font-x2">Akumulasi Pengajuan Proposal Se-Fakultas Sains Dan Teknologi</h6>
        </div>
        <ul class="pr-charts nospace group center">
            <li class="pr-chart-ctrl" data-animate="false">
                {% if jte > 0 %}
                <div class="pr-chart" data-percent="{{jte}}"><i></i></div>
                {% else %}
                <div class="pr-chart" data-percent="0"><i></i></div>
                {% endif %}
                <p>Teknik Elektro</p>
            </li>
            <li class="pr-chart-ctrl" data-animate="false">
                {% if jtif > 0 %}
                <div class="pr-chart" data-percent="{{jtif}}"><i></i></div>
                {% else %}
                <div class="pr-chart" data-percent="0"><i></i></div>
                {% endif %}
                <p>Teknik Informatika</p>
            </li>
            <li class="pr-chart-ctrl" data-animate="false">
                {% if jtin > 0 %}
                <div class="pr-chart" data-percent="{{jtin}}"><i></i></div>
                {% else %}
                <div class="pr-chart" data-percent="0"><i></i></div>
                {% endif %}
                <p>Teknik Industri</p>
            </li>
            <li class="pr-chart-ctrl" data-animate="false">
                {% if jsif > 0 %}
                <div class="pr-chart" data-percent="{{jsif}}"><i></i></div>
                {% else %}
                <div class="pr-chart" data-percent="0"><i></i></div>
                {% endif %}
                <p>Sistem Informasi</p>
            </li>
            <li class="pr-chart-ctrl" data-animate="false">
                {% if jmt > 0 %}
                <div class="pr-chart" data-percent="{{jmt}}"><i></i></div>
                {% else %}
                <div class="pr-chart" data-percent="0"><i></i></div>
                {% endif %}
                <p>Matematika</p>
            </li>
            <li class="pr-chart-ctrl" data-animate="false">
                {% if jsema > 0 %}
                <div class="pr-chart" data-percent="{{jsema}}"><i></i></div>
                {% else %}
                <div class="pr-chart" data-percent="0"><i></i></div>
                {% endif %}
                <p>Sema</p>
            </li>
            <li class="pr-chart-ctrl" data-animate="false">
                {% if jdema > 0 %}
                <div class="pr-chart" data-percent="{{jdema}}"><i></i></div>
                {% else %}
                <div class="pr-chart" data-percent="0"><i></i></div>
                {% endif %}
                <p>Dema</p>
            </li>
            <li class="pr-chart-ctrl" data-animate="false">
                {% if jlainnya > 0 %}
                <div class="pr-chart" data-percent="{{jlainnya}}"><i></i></div>
                {% else %}
                <div class="pr-chart" data-percent="0"><i></i></div>
                {% endif %}
                <p>Lainnya</p>
            </li>
        </ul>
        <!-- ################################################################################################ -->
    </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay light" id="pengajuan" style="background-image:url('images/demo/backgrounds/01.png');">
    <section id="services" class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="sectiontitle">
            <h6 class="heading font-x3">Pilih Menu Sesuai Jurusan Atau Lembaga Anda</h6>
        </div>
        <ul class="nospace group elements elements-three">
            <li class="one_third">
                <article><a href="{% url 'login' %}"><i class="fas fa-tty"></i></a>
                    <h6 class="heading">Teknik Elektro</h6>
                </article>
            </li>
            <li class="one_third">
                <article><a href="{% url 'login' %}"><i class="fas fa-tty"></i></a>
                    <h6 class="heading">Teknik Informatika</h6>
                </article>
            </li>
            <li class="one_third">
                <article><a href="{% url 'login' %}"><i class="fas fa-tty"></i></a>
                    <h6 class="heading">Teknik Industri</h6>
                </article>
            </li>
            <li class="one_third">
                <article><a href="{% url 'login' %}"><i class="fas fa-tty"></i></a>
                    <h6 class="heading">Sistem Informasi</h6>
                </article>
            </li>
            <li class="one_third">
                <article><a href="{% url 'login' %}"><i class="fas fa-tty"></i></a>
                    <h6 class="heading">Matematika</h6>
                </article>
            </li>
            <li class="one_third">
                <article><a href="{% url 'login' %}"><i class="fas fa-tty"></i></a>
                    <h6 class="heading">Sema</h6>
                </article>
            </li>
            <li class="one_third">
                <article><a href="{% url 'login' %}"><i class="fas fa-tty"></i></a>
                    <h6 class="heading">Dema</h6>
                </article>
            </li>
            <li class="one_third">
                <article><a href="{% url 'login' %}"><i class="fas fa-tty"></i></a>
                    <h6 class="heading">Lainnya</h6>
                </article>
            </li>
        </ul>
        <!-- ################################################################################################ -->
    </section>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    {% endblock %}