{% extends 'base.html' %}
{% block content %}
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row2">
        <section id="ctdetails" class="hoc container clear">
            <!-- ################################################################################################ -->
            <article class="one_half">
                <h6 class="heading">Isi Biodata Anda Pada Kolom Dibawah Ini</h6>
                
                <form action="#" method="post">
                    <fieldset>
                        <legend>Newsletter:</legend>
                        <input type="text" value="" placeholder="Name">
                        <input type="text" value="" placeholder="Name">
                        <input type="text" value="" placeholder="Name">
                        <input type="text" value="" placeholder="Name">
                        <input type="text" value="" placeholder="Name">
                        <input type="text" value="" placeholder="Name">
                        <button type="submit" value="submit">Submit</button>
                    </fieldset>
                </form>
            </article>
            <!-- ################################################################################################ -->
        </section>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
{% endblock %}