{% extends 'base.html' %}
{% block content %}
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row2">
        <section id="ctdetails" class="hoc container clear">
            <!-- ################################################################################################ -->
            <article class="one_half">
                <h6 class="heading">Isi Biodata Anda Pada Kolom Dibawah Ini</h6>
                
                <form action="#" method="post">
                    {{proposal.as_p}}
                </form>
            </article>
            <!-- ################################################################################################ -->
        </section>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
{% endblock %}