{% extends 'base.html' %}
{% block content %}
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay light" id="pengajuan" style="background-image:url('images/demo/backgrounds/01.png');">
    <section id="services" class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="sectiontitle">
            <h6 class="heading font-x3">Pilih Menu Sesuai Jurusan Atau Lembaga Anda</h6>
        </div>
        <ul class="nospace group elements elements-three">
            <li class="one_third">
                <article><a href="{% url 'login' %}"><i class="fas fa-tty"></i></a>
                    <h6 class="heading">Teknik Elektro</h6>
                </article>
            </li>
            <li class="one_third">
                <article><a href="{% url 'login' %}"><i class="fas fa-tty"></i></a>
                    <h6 class="heading">Teknik Informatika</h6>
                </article>
            </li>
            <li class="one_third">
                <article><a href="{% url 'login' %}"><i class="fas fa-tty"></i></a>
                    <h6 class="heading">Teknik Industri</h6>
                </article>
            </li>
            <li class="one_third">
                <article><a href="{% url 'login' %}"><i class="fas fa-tty"></i></a>
                    <h6 class="heading">Sistem Informasi</h6>
                </article>
            </li>
            <li class="one_third">
                <article><a href="{% url 'login' %}"><i class="fas fa-tty"></i></a>
                    <h6 class="heading">Matematika</h6>
                </article>
            </li>
            <li class="one_third">
                <article><a href="{% url 'login' %}"><i class="fas fa-tty"></i></a>
                    <h6 class="heading">Sema</h6>
                </article>
            </li>
            <li class="one_third">
                <article><a href="{% url 'login' %}"><i class="fas fa-tty"></i></a>
                    <h6 class="heading">Dema</h6>
                </article>
            </li>
            <li class="one_third">
                <article><a href="{% url 'login' %}"><i class="fas fa-tty"></i></a>
                    <h6 class="heading">Lainnya</h6>
                </article>
            </li>
        </ul>
        <!-- ################################################################################################ -->
    </section>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    {% endblock %}