{% extends 'base.html' %}
{% block content %}
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="bgded overlay mt-5" >
        <div id="pageintro" class="hoc clear">
            <!-- ################################################################################################ -->
            <article>
                <h3 class="heading">Selamat Datang</h3>
                <p>Ini adalah website pengajuan proposal se-Fakultas Sains Dan Teknologi Universitas Islam Negeri Sultan
                    Syarif Kasim Riau. Silahkan serahkan proposal anda pada form yang telah di sediakan dan tunggu info selanjutnya
                    yang akan di kirim ke email si pemohon.
                </p>
                <footer><a class="btn btn-primary" href="#">Mulai Pengajuan</a></footer>
            </article>
            <!-- ################################################################################################ -->
        </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
{% endblock %}