{% extends 'base.html' %}
{% block content %}
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
        <section class="hoc container clear">
            <!-- ################################################################################################ -->
            <div class="sectiontitle mt-4">
                <h5 class="heading font-x2">Panduan Umum dan Tahapan Penginputan Proposal</h5>
            </div>
            <div>
                <h2>Tentang</h2>
                <div style="font-size: 20px;">
                    <p>Website ini merupakan wadah untuk memproses proposal di lingkungan Fakultas
                        Sains dan Teknologi Universitas Sultan Syarif Kasim Riau. Pada website ini 
                        proposal anda akan melalui tahapan-tahapan berikut :</p>
                    <div style="margin-left: 25px;">
                        <ol type="a">
                            <li>Pembuatan akun</li>
                             <div style="margin-left: 25px;">
                                <ol type="1">
                                    <li>Pilihlah Jurusan atau Organisasi Anda</li>
                                    <li>Pilih Buat Akun</li>
                                    <li>Isi form sesuai data diri anda</li>
                                    <li>Klik Submit</li>
                                    <li>Silahkan tunggu persetujuan untuk akun anda dari WD 3. Pemberitahuan akan dikirimkan melalui email</li>
                                    <li>Setelah mendapat pemberitahuan melalui email, akun anda dapat digunakan sebagaimana mestinya</li>
                                </ol>
                             </div>
                            <li>Penginputan proposal</li>
                            <li>Pemeriksaan oleh Kepala Program Studi  anda bila anda berasal dari HMJ, sedangkan jika anda berasal dari SEMA dan DEMA proposal anda akan diperiksa langsung oleh Wakil Dekan 3.</li>
                            <li>Setelah melalui pemeriksaan proposal oleh Kepala Program Studi akan terdapat 2 hasil yaitu revisi dan komentar positif, jika anda mendapatkan komentar positif maka proposal anda akan dilanjutkan dan diperiksa oleh Wakil Dekan 3.</li>
                            <li>Hasil dari Wakil Dekan 3 ini merupakan hasil  akhir diterima atau tidaknya proposal anda.</li>
                            <li>Untuk semua proses diatas anda akan mendapatkan pemberitahuan melalui email yang anda gunakan saat pembuatan akun.</li>
                        </ol>
                    </div>
                </div>
 
                <h2>Panduan Penginputan Proposal</h2>
                <div style="font-size: 20px;">
                    <div style="margin-left: 25px;">
                        <ol type="a">
                            <li>Sebelumnya sediakan 2 file untuk di upload, file proposal anda dan file yang hanya berisi RAB dari proposal anda</li>
                            <li>Masuk ke website pengajuan proposal</li>
                            <li>Pilihlah dari instansi mana anda berasal</li>
                            <li>Login ke akun anda atau buat akun terlebih dahulu jika anda belum memiliki akun</li>
                            <li>Masuk ke menu penginputan proposal</li>
                            <li>Masukkan data anda sesuai kolom yang telah disediakan</li>
                            <li>Upload file yang telah anda siapkan</li>
                            <li>Klik submit, saat semua penginputan selesai.</li>
                            <li>Anda dapat melakukan pengeditan data melalui menu edit pada halaman penginputan proposal.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- ################################################################################################ -->
        </section>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
{% endblock %}